.select-form {
  flex-direction: column;
  margin: 0 auto;
  color: white;
  min-width: 0;
  font-size: 5vw;
}

input[type="submit"] {
  max-width: 4em;
  color: rgb(231, 231, 231);
  background-color: black;
  /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
  border: solid 0.5vw rgb(233, 233, 233);
  margin-bottom: 1vh;
}

input[type="submit"]:hover {
  border: solid 0.5vw #ff5722;
  color: #ff5722;
}

input[type="submit"]:focus {
  outline: none;
}

.select-form input[type="text"] {
  font-size: 3vw;
}

.text-input-group input {
  width: 90vw;
  height: 6vw;
  padding: 1vw;
  margin-bottom: 3vw;
}
