.rhyme {
  font-size: 10rem;
  position: relative;
  font-weight: bold;
  font-style: italic;
  color: #ff5722;
}
.rhymeComp {
  font-size: 2rem;
  color: white;
  margin: 1rem;
  display: inline-block;
  font-style: italic;
}
.head {
  font-weight: bold;
  width: 20%;
}
.body {
  display: inline-block;
  font-style: italic;
  width: 70%;
  min-height: 100%;
}
