.container {
  display: flex;
  justify-content: space-between;
}

.container label {
  flex: 1;
  flex-basis: 25%;
  padding: 1em;
  margin: auto;
}

.container input {
  flex-basis: 75%;
  flex: 2;
  flex-shrink: 2;
}
