.activity {
  width: 100%;
}
.button {
  color: rgb(231, 231, 231);
  background-color: black;
  border: solid 0.5vw rgb(233, 233, 233);
  cursor: pointer;
  margin: 1vh;
  padding: 1vh;
  font-size: 2vw;
  display: inline-block;
  display: inline-flex;
  align-items: center;
}

.preselect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button:hover {
  border: solid 0.5vw #ff5722;
  color: #ff5722;
}
