.SettingsContainer {
  background: rgb(252, 137, 137);

  width: 25vw;
  height: 30vw;

  font-size: 4vw;

  position: absolute;
  z-index: 10;

  left: 0;
  right: 0;
  margin: auto;
}
.icon {
  width: 3vw;
  height: 3vw;
  flex-shrink: 1;
}
.IconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;
  top: 0;
  right: 0;
}
