.rhyme {
  font-size: 10vw;
  font-weight: bold;
  font-style: italic;
  color: #ff5722;
  margin: 0;
}
.rhymeComp {
  color: white;
  margin: 0 auto;
  font-style: italic;
  width: 80vw;
  font-size: 2vw;
}
.pbottom {
  min-height: 13vh;
  margin-bottom: 0.5vw;
}
.rhyme-container {
  max-height: 5%;
}

.sentence {
  font-size: 5vw;
  color: #ff5722;
  font-weight: bold;
}

.practice-container {
  margin: 5vh;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  font-style: italic;
}
.practice-container-child {
  margin: 5vh;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
}
h1 {
  font-size: 2.5vw;
  font-family: "Century Gothic";
  font-weight: bold;
}
#underscore {
  color: #ff5722;
  margin-right: 1vw;
}
