.rhyme {
  font-size: 10vw;
  font-weight: bold;
  font-style: italic;
  color: #ff5722;
  margin: 0;
}
.rhymeComp {
  color: white;
  margin: 0 auto;
  font-style: italic;
  width: 80vw;
  font-size: 2vw;
}
.rhyme-container {
  max-height: 5%;
}

.sentence {
  font-size: 5vw;
  color: #ff5722;
  font-weight: bold;
}
