.rhyme {
  font-size: 10vw;
  font-weight: bold;
  font-style: italic;
  color: #ff5722;
  margin: 0;
}
.rhymeComp {
  color: white;
  margin: 0;
  display: inline;
  font-style: italic;
  width: 70%;
  font-size: 2vw;
}
.rhyme-container {
  max-height: 5%;
}
