body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  background-color: black;
}
.container {
  background-color: black;
  font-family: "Century Gothic";
  font-size: 3.5vw;
  font-weight: bold;
  text-transform: lowercase;
  color: white;
  margin: auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 3;
}

#appContainer {
  height: 100vh;
  max-width: 100vw;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-size: 3vw;
}
a:hover {
  color: #ff5722;
}
